/* Скидання базових стилей */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: inherit;
    font-weight: 400;
  }
a, 
a:visited {
text-decoration: none;
color: inherit;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
  }
/* * {
padding: 0;
margin: 0;
border: 0;
} */
a:focus, 
a:active {
    outline: none;
  }
address {
    font-style: normal;
}

:root {
    --color-accent: #2196F3;
    --color-bold: #212121;
    --color-main: #757575;
    
    --color-black: #000000;
    --color-white: #ffffff;
    
    --color-bgr-grey: #F5F4FA;
    --color-bgr-dark: #2F303A;
    }




        
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;

    color: var(--color-main);
    background-color: var(--color-white);
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
}
.header__logo p {
    color: var(--color-black);
}
._active a {
    color: var(--color-accent);
}

.logo span {
    color: var(--color-accent);
}
.navigation,
.contact {
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-weight: 500;
}
.navigation__item {
    color:var(--color-bold);
}
.navigation__item a:focus,
.navigation__item a:hover,
.contact__email_active a:hover,
.contact__email_active a:focus,
.contact__tel_active a:hover,
.contact__tel_active a:focus {
    color: var(--color-accent);
}
.section-hero {
    text-align: center;
    background-color:var(--color-bgr-dark);
}
.title {
    font-size: 36px ;
    line-height: 1.17;
    font-weight: 700;
    text-align: center;
    color: var(--color-bold);
}
.section-hero__title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    color: var(--color-white);
}

.btn {
    color: var(--color-bold);
    background-color: var(--color-bgr-grey);
    cursor: pointer;
    border: none;
}
.section-hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.btn.btn_accent {
    color: var(--color-white);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-bold);
}

.section-team {
    background-color: var(--color-bgr-grey);
}
.card {
    font-size: 16px;
    line-height: 1.19;
}
.card__title {
    font-weight: 500;
    color: var(--color-bold);
}

.footer {
    background-color: var(--color-bgr-dark);
    color: var(--color-white);
}
.footer__logo {
    color: var(--color-white);
}
.footer__contact a {
    opacity: 0.6;
}

/* Портфоліо */


.filter__btn:hover {
    color: var(--color-white);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
}